        <div class="row">
          <div class="col-lg-12">
            <h1>List of tweets</h1>
            <p>this is the list of tweets</p>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-6">
          <div class="tweet_list">
            {{#each collection in controller}}
              {{#each tweet in collection.tweets}}
                <div class="tweet">
              <div class="tweet_image">
                <a {{bind-attr href=tweet.user.twitterUrl}} {{bind-attr title=tweet.user.screenName}}>
                  <img {{bind-attr src=tweet.user.profileBackgroundImageUrl}} width="48" height="48">
                </a>
              </div>
              <div class="tweet_right">
                <div class="tweet_screen_name">
                  <a {{bind-attr href=tweet.user.twitterUrl}} {{bind-attr title=tweet.user.screenName}}>
                    {{tweet.user.screenName}}
                  </a>
                  <span class="tweet_name">{{tweet.user.name}}</span>
                </div>
                <div class="tweet_text">{{tweet.tweetText}}
                  <div class="tweet_date">
                    <a {{bind-attr href=tweet.originalTweetUrl}} {{bind-attr title=tweet.user.screenName}}>
                      {{tweet.tweetCreatedAt}}
                    </a>
                  </div>
                </div>
              </div>  
            </div>
            <hr>
              {{/each}} 
            {{/each}}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
                <li class="nav-header">Sidebar</li>
                <li>{{#link-to "index"}}Index{{/link-to}}</li>
                <li>{{#link-to "about"}}About{{/link-to}}</li>
                <li>{{#link-to "tweets.index"}}Tweets{{/link-to}}</li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
  