        <div class="row">
          <div class="col-lg-12">
            <h1>List of tweets</h1>
            <p>this is the list of tweets</p>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-4">
          <div class="tweet_list">
            {{#each Tweet in controller}}
            <div class="tweet">
              <a {{bind-attr href=Tweet.twitterUser.twitterUrl}} {{bind-attr title=Tweet.twitterUser.screenName}}>
                <img {{bind-attr src=Tweet.twitterUser.profileBackgroundImageUrl}} width="48" height="48">
              </a>		
            </div>
              
              <p>A: {{Tweet.tweetText}}</p>
              <p>B: {{Tweet.twitterUser.twitterUrl}}</p>
              <p>C: {{Tweet.twitterUser.screenName}}</p>
            {{/each}}
          </div>
        </div>
        <div class="col-lg-8">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
                <li class="nav-header">Sidebar</li>
                <li>{{#link-to "index"}}Index{{/link-to}}</li>
                <li>{{#link-to "about"}}About{{/link-to}}</li>
                <li>{{#link-to "tweets.index"}}Tweets{{/link-to}}</li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
  